@import './variables.scss';
@import './fonts.scss';

@import './recipecard.scss';
@import './recipecontainer.scss';
@import './recipeform.scss';

html {
    background-color: $anti-flash-white;
    color: $smoky-black;
    height: 100%;
}

body , #main, #main > div {
    height: 100%;
}

.pageContent {
    display: flex;
    min-height: 100%;
    height: auto;
}

.header {
    height: 50px;
    font-size: 20px;
}

.appComponent {
    font-family: $title-fonts;
}

.sideBar, .ingredients {
    display: inline-block;
    flex-basis: 20%;
    background-color: $gray-blue;
    padding: 10px;
    min-height: 100%;
    height: auto;
    font-family: $not-title-fonts;
    
    span {
        font-size: 14px;
    }
}

.ingredients {
    ul {
        padding: 0;
    }
}

.recipeContainer, .recipeForm {
    border-radius: 10px 10px 0px 0px;
}

.recipeCard {
    border-radius: 10px;
}

.sideBar, .ingredients {
    border-radius: 0px 10px 0px 0px;
    margin-left: -10px;
}

.homeContainer, .recipeContainer, .recipeForm {
    margin-left: 15px;
    flex-basis: 80%;
    float: right;
    height: auto;
    min-height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

