@import './variables.scss';

html {
    background-color: $anti-flash-white;
    color: $smoky-black;
    height: 100%;
}

body, #main, #main > div, .pageContent {
    height: 100%;
}

.pageContent {
    display: flex;
}

.header {
    height: 50px;
    font-size: 20px;
}

.appComponent {
    font-family: $title-fonts;
}

.sideBar, .ingredients {
    display: inline-block;
    flex-basis: 20%;
    background-color: $gray-blue;
    padding: 10px;
    height: 100%;
    font-family: $not-title-fonts;
    
    span {
        font-size: 14px;
    }
}

.ingredients {
    ul {
        padding: 0;
    }
}

.sideBar, .recipeCard, .ingredients, .recipeContainer {
    border-radius: 10px;
}


.homeContainer, .recipeContainer {
    margin-left: 15px;
    flex-basis: 80%;
    float: right;
}

.recipeContainer {
    background-color: $pearl;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.recipeCard {
    justify-content: space-evenly;
    margin: 10px;
    flex-basis: 25%;
    min-width: 250px;
    height: 150px;
    flex-grow: 1;
    font-family: $not-title-fonts;
    background-color: $pearl;
}

.directions {
    font-family: $not-title-fonts;
}

