//Variables
$gunmetal: #2B2D42;
$gray-blue: #8D99AE;
$anti-flash-white: #EDF2F4;
$smoky-black: #0A0908;
$pearl: #EAE0D5;

$title-fonts: 'Merriweather';
$not-title-fonts: 'Montserrat';

html {
    background-color: $anti-flash-white;
}

div {
    // border: 1px solid green;
}

.appComponent {
    font-family: $title-fonts;
}

.sideBar {
    display: inline-block;
    width: 25%;
    border: 1px solid blue;
}


.cardContainer {
    width: 74%;
    float: right;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.recipeCard {
    justify-content: space-evenly;
    margin: 10px;
    // max-width: 225px;
    flex-basis: 25%;
    height: 150px;
    flex-grow: 1;
    font-family: $not-title-fonts;
    border: 1px solid green;
}
