//Variables
$gunmetal: #2B2D42;
$gray-blue: #8D99AE;
$anti-flash-white: #EDF2F4;
$smoky-black: #0A0908;
$pearl: #EAE0D5;
$glass: #C2C2C2;

$title-fonts: 'Merriweather';
$not-title-fonts: 'Montserrat';